.card {
  display: flex;
  width: 100%;
  &__box {
    display: flex;
    gap: 20px;
    &__item {
      display: flex;
      justify-content: start;
      flex-direction: column;
      border-radius: 40px;
      width: 260px;
      line-height: 1px;
      height: 270px;
      &__text {
        padding: 24px;
      }
    }
  }
}
